/* .arrow-up {
    width: 0rem; 
    height: 0rem; 
    border-left: 10em solid transparent;
    border-right: 20em solid transparent ;
    
    border-bottom: 17rem solid ;
    display: block;
 margin: auto;
  }
  .arrow-up2 {
    width: 0rem; 
    height: 0rem; 
    border-left: 9em solid transparent;
    border-right: 20em solid transparent ;
    
    border-bottom: 17rem solid rgb(149, 32, 32) ;
    display: block;
 margin: auto;
 position:absolute;
 top: 1.4em;
 left:7em;
  } */
  .A{
     position: absolute;
     top: 29rem;
     left: 30;
  }
  .B{
   position: absolute;
   top: 20rem;
   left: 35rem;
}
.C{
   position: absolute;
   top: 20rem;
   left: 50rem;
}
@media screen and (max-width: 500px) {
   .A{
      position: absolute;
      top: 20em;
      left: 10em;
   }
   .B{
    position: absolute;
    top: 13rem;
    left: 17rem;
 }
 .C{
    position: absolute;
    top: 13rem;
    left: 2rem;
 }
 }
 @media screen and (min-width: 2560px){
   .A{
      position: absolute;
      top: 29rem;
      left: 80rem;
   }
   .B{
    position: absolute;
    top: 20rem;
    left: 86rem;
 }
 .C{
    position: absolute;
    top: 20rem;
    left: 73rem;
 }
 }
#tri{
   stroke-dasharray: 9000;
    stroke-dashoffset: 9000;
    animation: dash 6s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
 