<h3 class="font-bold text-3xl m-10">Properties of Triangle</h3>
<ul class="font-serif text-xl m-2">
    <li class="m-3">
        <p>A triangle has three sides, three angles, and three vertices.</p>
    </li>
    <li class="m-3">The sum of the length of any two sides of a triangle is greater than the length of the third side.</li>
    
</ul>
<div class="types grid justify-items-center p-3">
<img src="https://anugraph.com/files/Capture.PNG" alt="different triangles" srcset="">
<figcaption class="font-sans " > fig source: <a class="underline text-rose-700" href="https://e-gmat.com/blogs/properties-of-triangles/#:~:text=The%20properties%20of%20a%20triangle,length%20of%20the%20third%20side.">e-Gmat.com</a> </figcaption>
</div>
