<div class="type">
  <p class="type-tri">    This is a <span id="type">{{type}}</span>
    

    
    Triangle
   
  </p>
</div>

  <p>Enter length of the three sides of triangle:</p>
  
<form class="add-form md:shadow-xl grid md:flex md:justify-center justify-items-center md:m-8">

  <div  class="unit flex flex-col-reverse md:m-3">
    <label for="side1" class="font-semibold text-xl text-purple-700">Side A</label> <input required type="number" name="num1" id="side1"  placeholder="50">
  </div>
  <div class="unit  flex flex-col-reverse md:m-3"> 
    <label for="side2" class="font-semibold text-purple-700 text-xl ">Side B</label><input required type="number" name="num2"  id="side2" placeholder="50">
    
  </div>
  <div class="uni  flex flex-col-reverse md:m-3 "> 
    <label for="side3" class="font-semibold text-purple-700 text-xl ">Side C</label><input required type="number" name="num3" id="side3" placeholder="50">
  </div>
 
 
</form>
<app-button class="md:mt-12" text="Add" (click)="DoMath()">

</app-button>

